.main{
    display: flex;
    
    align-items: flex-start;
   &__img-what{
    width: 980px;
    height:1137px;
    flex-shrink: 0;
align-self: stretch;
   }
   &__section{
    display: flex;
padding: 70px 0px 0px 111px;
flex-direction: column;
align-items: flex-start;
gap: 100px;
   }
   &__section-title{
    color: #252525;
    font-family: Gilroy;
    font-size: 150px;
    font-weight: 300;
   }
  &__digital{
    color: #000;
font-family: Gilroy-Light;
font-size: 44px;
font-style: normal;
font-weight: 400;
line-height: 48px;
  }


}

